<div class="calculator">

  <div class="output-area">
      <div class="evaluation-string">
        99 =
      </div>
      <div class="current-expression">
        99
      </div>
  </div>
  
  <div class="calculator-buttons">
      <div class="clear-buttons">
        <button class="clear-btn clear-expression">CE</button>
        <button class="clear-btn clear-backspace">Back</button>
      </div>
      <button class="operator-btn open-paren-btn">( <span class="open-paren-count">4</span></button>
      <button class="operator-btn close-paren-btn">)</button>
      <button class="operator-btn modulus-btn">mod</button>
      <button class="operator-btn divide-btn">&#247;</button>
      <button class="operator-btn multiply-btn">x</button>
      <button class="operator-btn subtract-btn">-</button>
      <button class="operator-btn add-btn">+</button>
      <button class="operator-btn equals-btn">=</button>
      <button class="number-btn seven-btn">7</button>
      <button class="number-btn eight-btn">8</button>
      <button class="number-btn nine-btn">9</button>
      <button class="number-btn four-btn">4</button>
      <button class="number-btn five-btn">5</button>
      <button class="number-btn six-btn">6</button>
      <button class="number-btn one-btn">1</button>
      <button class="number-btn two-btn">2</button>
      <button class="number-btn three-btn">3</button>
      <button class="number-btn zero-btn">0</button>
      <button class="number-btn decimal-btn">.</button>
  </div>

</div>